<div class="container">
  <div class="drug-image thumbnail">
    <!-- <img src="<%#= @drug.image_url%>" /> -->
    <img src="http://lorempixel.com/400/200">
  </div>

  <div class="drug-parameter">
    <div class="title">
      <h4 class="drug-price">
        <span class="origin-price"><%= @drug.ori_price %></span>
        <span><%= @drug.price %> </span>
      </h4>
      <p class="drug-name"><%= @drug.name %></p>
      <a href="javascript:void(0);" class="storegoods"><i>☆</i><p>收藏</p></a>
    </div>
    <div class="detail">
      <ul>
        <li> <span class="parameter-title">规格</span> <b><%= @drug.spec %></b> </li>
        <li> <span class="parameter-title">介绍</span> <b><%= @drug.introduction %></b> </li>
        <li> <span class="parameter-title">品牌商标</span> <b><%= @drug.brand %></b> </li>
        <li> <span class="parameter-title">工厂</span> <b><%= @drug.manufactory %></b> </li>
        <li> <span class="parameter-title">国药准字</span> <b><%= @drug.code %></b> </li>
        <li> <span class="parameter-title">有效期</span> <b><%= @drug.expiry_date %></b> </li>
        <li>
          <span class="parameter-title">分类</span>
          <span class="label label-success"><%= DrugType.find(@drug.drug_type_id).name %></span>
          <span class="label label-success"><%= DrugType.find(@drug.drug_type_id2).name %></span>
          <span class="label label-success"><%= DrugType.find(@drug.drug_type_id3).name %></span>
        </li>
      </ul>
    </div>
  </div>
</div>
