<br/><br/><br/>
<%= @video_category.name %>
<% @videos.each do |video| %>
  <div id="hotlinking">
    <%= video.album_name %>
    <!-- <img src="<%#= video.pic_url %>">  -->
    <%= video.time_length/60 %>:<%= video.time_length%60 %>
    <%= video.create_time.strftime("%F") %>
  </div>
  <br>
  <object width="325" height="240">
    <param name="movie" value="<%= video.swf %>"></param>
    <param name="allowFullScreen" value="true"></param>
    <param name="allowscriptaccess" value="always"></param>
    <embed src="<%= video.swf %>" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="325" height="240"></embed>
  </object>
  <br>
  <hr>
<% end %>
<%= paginate @videos %>
<br><br><br>