<!DOCTYPE html>
<html>
  <head>
    <title>今日健康头条</title>
    <%= stylesheet_link_tag "news/application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://api.map.baidu.com/api?v=1.5&ak=d3Yn1p4buKQifBg5mcBXqUOS" type="text/javascript"></script>
  </head>
  <body>
    <%= render "layouts/news/header" %>
    <div class="container-fluid content-wrapper">
      <%= yield %>
    </div>
    <%= render "layouts/news/footer" %>
  </body>
</html>
