<div class="drugstore-site">
  <div class="drugstore">
    <div class="module-title">药店介绍</div>
    <div class="introduce">
      <p><%= @store.description %></p>
    </div>
  </div>

  <div class="drugstore">
    <div class="module-title">药店动态</div>
    <% unless @incidents.empty? %>
      <div class="dynamic">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% @incidents.each_with_index do |incident, index| %>
              <div class="item <%= "active" if index.eql?(0) %>">
                <img src="<%=incident.image_url %>"/>
                <div class="carousel-caption">
                  <p><%= link_to incident.title, stores_path(@store.name, incident) %></p>
                </div>
              </div>
            <% end %>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    <% else %>
      <p>暂无动态</p>
    <% end %>
  </div>

  <div class="drugstore">
    <div class="module-title">热销产品</div>
    <div class="hot-product">
      <ul class="nav nav-pills nav-justified">
        <% @hot_type_name.each do |name| %>
          <li role="presentation" class="category-item active"><a href="#"><%= name%></a></li>
        <% end %>
      </ul>
      <div class="product-list">
        <% @type_drugs.each do |type_drugs| %>
          <% type_drugs.each_slice(3) do |three_drugs| %>
            <div class="container-fluid">
              <div class="row">
                <% three_drugs.each do |drug|%>
                  <div class="col-xs-6 col-sm-4 product-item">
                    <img src="<%= drug.image_url%>">
                    <h5><%=link_to drug.name, stores_e_drug_path(@store.name, drug) %></h5>
                    <span class="product-price">价格：<%= drug.price %></span>
                    <br />
                    <span class="product-price">销量：<%= drug.sales %></span>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="drugstore">
    <div class="module-title">药品目录</div>
    <div class="catalog">
      <% @drug_type.each_slice(2) do |two_drug_types| %>
        <div class="container-fluid">
          <div class="row">
            <% two_drug_types.each do |drug_type| %>
              <div class="col-md-6 catalog-item">
                <h5>
                  <%= link_to drug_type.name, drugs_stores_drugtype_path(@store.name, drug_type) %>
                </h5>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="drugstore">
    <div class="module-title">联系方式</div>
    <div class="contact-way">
      <p>地址：<%= @store.address %> </p>
      <p>网站：<%= @store.website %></p>
      <p>客服热线：<%= @store.telephone %></p>
    </div>
  </div>

  <div class="drugstore">
    <div class="module-title">
      药店留言
      <%= link_to '+ 添加留言', stores_feedbacks_new_path, class: "btn btn-primary pull-right" %>
    </div>
    <div class="messages">
      <ul class="list-unstyled">
        <% @feedbacks.each do |feedback| %>
          <li class="message-item">
            <span><%= feedback.content %></span>
            <span class="pull-right"><%= time_ago_in_words(feedback.created_at) %>之前</span>
          </li>
        <% end %>
      </ul>
    </div>
    <button href="javascript:;" class="btn btn-primary btn-block" id="get_more">加载更多</button>
  </div>
</div>

<script type="text/javascript">
  var page = 2;
  var last_page = false;

  $("#get_more").click(function(){
    if(!last_page){
      $.get("/<%= @store.name %>/get_more_feedback", {
        page: page,
        per: 5
      },function(data){
        data.data.forEach(function(f){
          $(".list-unstyled").append(
            "<li class='message-item'><span>"+f.content+"</span><span class='pull-right'>"+f.created_at+"</span></li>"
          )
          page = data.next_page;
          last_page = data.last_page;
        })
      })
    }else{
      alert("已经是最后一页");
    }
  })
</script>
