<%= simple_form_for [@drugstore, @drug], wrapper: :common_form do |f| %>
  <% if @drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

      <ul>
      <% @drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name, label: '药名', placeholder: "药品名称" %>
  <%= f.input :manufactory, label: '厂家', placeholder: "厂家" %>
  <%= f.input :ori_price, label: '原价', placeholder: "0.0" %>
  <%= f.input :price, label: '现价', placeholder: "0.0" %>
  <%= f.input :introduction, label: '介绍', placeholder: "药品效果" %>
  <%#= f.input :drug_type_id, label: '药品类型' %>
  <%= f.input :brand, label: '品牌商标', placeholder: "同仁堂" %>
  <%= f.input :code, label: '国药准字', placeholder: "国药准字Z11020197" %>
  <%= f.input :expiry_date, label: '有效期', placeholder: "36个月" %>
  <%= f.input :spec, label: '规格', placeholder: "2.6g*9袋" %>

  <%= f.input :image_url, as: :file, label: '图片（尺寸小于1M）' %>
  <img src="<%= @drug.image_url%>" />

  <br />
  <%= f.button :submit %>
  <%= link_to '返回', e_drugstores_path, class: 'btn btn-info' %>
<% end %>

<script type="text/javascript">
  $("#drugs_drug_city_id").click(function(){
    console.log('reflush it');
  });
</script>

