<%= simple_form_for [@drugstore, @drug], wrapper: :common_form do |f| %>
  <% if @drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

      <ul>
      <% @drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name, label: '药名', placeholder: "药品名称" %>
  <%= f.input :manufactory, label: '厂家', placeholder: "厂家" %>
  <%= f.input :ori_price, label: '原价', placeholder: "0.0" %>
  <%= f.input :price, label: '现价', placeholder: "0.0" %>
  <%= f.input :introduction, label: '介绍', placeholder: "药品效果" %>

  <%= f.input :brand, label: '品牌商标', placeholder: "同仁堂" %>
  <%= f.input :code, label: '国药准字', placeholder: "国药准字Z11020197" %>
  <%= f.input :expiry_date, label: '有效期', placeholder: "36个月" %>
  <%= f.input :spec, label: '规格', placeholder: "2.6g*9袋" %>

  <%= f.input '第一分类' do %>
    <%= f.select :drug_type_id, DrugType.where(parent_id: 0).map { |r| [r.name, r.id] }, {include_blank: true} %>
  <% end %>

  <%= f.input '第二分类' do %>
    <%= f.select :drug_type_id2, DrugType.where(parent_id: @drug_type_id).map { |r| [r.name, r.id] }, {include_blank: false, selected: @drug_type_id2} %>
  <% end %>

  <%= f.input '第三分类' do %>
    <%= f.select :drug_type_id3, DrugType.where(parent_id: @drug_type_id2).map { |r| [r.name, r.id] }, {include_blank: false, selected: @drug_type_id3} %>
  <% end %>

  <%= f.input :image_url, as: :file, label: '图片（尺寸小于1M）' %>
  <img src="<%= @drug.image_url%>" />

  <br />
  <%= f.button :submit %>
  <%= link_to '返回', e_drugstores_path, class: 'btn btn-info' %>
<% end %>

<script type="text/javascript">
  $("#e_drug_drug_type_id").change(function(e){
    $.get("<%= get_types_path(@drugstore, @drug) %>",{
      parent_id: e.target.value
    },function(data){
      // debugger
      $("#e_drug_drug_type_id2").html(data);
      $("#e_drug_drug_type_id3").html('');
    })
  });
  $("#e_drug_drug_type_id2").change(function(e){
    $.get("<%= get_types_path(@drugstore, @drug) %>",{
      parent_id: e.target.value
    },function(data){
      $("#e_drug_drug_type_id3").html(data);
    })
  })
</script>