<p id="notice"><%= notice %></p>

<strong>药名:</strong>
<div class="alert alert-success" role="alert"><%= @drug.name %></div>
<strong>工厂:</strong>
<div class="alert alert-success" role="alert"><%= @drug.manufactory %></div>
<strong>原价:</strong>
<div class="alert alert-success" role="alert"><%= @drug.ori_price %></div>
<strong>现价:</strong>
<div class="alert alert-success" role="alert"><%= @drug.price %></div>
<strong>介绍:</strong>
<div class="alert alert-success" role="alert"><%= @drug.introduction %></div>
<strong>图片:</strong>
<div class="alert alert-success" role="alert">
  <img src="<%= @drug.image_url%>" />
</div>
<strong>品牌商标:</strong>
<div class="alert alert-success" role="alert"><%= @drug.brand %></div>
<strong>国药准字:</strong>
<div class="alert alert-success" role="alert"><%= @drug.code %></div>
<strong>有效期:</strong>
<div class="alert alert-success" role="alert"><%= @drug.expiry_date %></div>
<strong>规格:</strong>
<div class="alert alert-success" role="alert"><%= @drug.spec %></div>
<strong>分类一:</strong>
<div class="alert alert-success" role="alert"><%= DrugType.find(@drug.drug_type_id).name %></div>
<strong>分类二:</strong>
<div class="alert alert-success" role="alert"><%= DrugType.find(@drug.drug_type_id2).name %></div>
<strong>分类三:</strong>
<div class="alert alert-success" role="alert"><%= DrugType.find(@drug.drug_type_id3).name %></div>

<%= link_to '编辑', edit_e_drugstore_e_drug_path(@drugstore.id, @drug.id), class: 'btn btn-default' %>
<%= link_to '返回', e_drugstore_e_drugs_path(@drugstore.id), class: 'btn btn-info' %>