<br>
<br>
<br>
<div>
  欢迎回来：<%= @user.email %>| <%= link_to '退出', destroy_news_account_session_path, method: 'DELETE' %>
  <a href="<%= news_accounts_following_list_path %>">添加关注</a>
</div>
<h1>我的关注</h1>
<% @tt.each do |k,v| %>
  <h2><%= k.to_s %></h2>
  <br>
    <% v.each do |v0| %>
      <a href="<%= news_information_list_path(disease_info_type_id: v0[:id]) %>"> <%= v0[:name] %> </a>
      <br>
    <% end %>
  <hr>
<% end %>