<script src="http://api.map.baidu.com/api?v=1.5&ak=d3Yn1p4buKQifBg5mcBXqUOS" type="text/javascript"></script>

<%= simple_form_for @drugstore, wrapper: :common_form do |f| %>
  <% if @drugstore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drugstore.errors.count, "error") %> prohibited this drugstore from being saved:</h2>
      <ul>
        <% @drugstore.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, label: '店名' %>
  <%= f.input :address, label: '地址' %>
  <%= f.input :telephone, label: '电话' %>
  <%= f.input :image_url, label: '图片' %>
  <%= f.input :lng, label: '经度' %>
  <%= f.input :lat, label: '纬度' %>
  <%= f.input :business_license, label: '商业执照' %>
  <%= f.select :city_id, get_cities, label: '城市' %>
  <%#= f.select :county_id, get_counties, label: '区县' %>
  <br />
  <br />
  <div id="container"></div> 
  
  <%= f.button :submit, class: 'btn btn-success' %>
  <%= link_to '返回', e_drugstores_path, class: 'btn btn-info' %>
<% end %>

<script type="text/javascript"> 
  var map = new BMap.Map("container");          // 创建地图实例  

  map.addControl(new BMap.NavigationControl());    
  map.addControl(new BMap.ScaleControl());      // 创建标尺
  map.addControl(new BMap.OverviewMapControl());    

  map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
  map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用

  map.setDefaultCursor("url('bird.cur')");   //设置地图默认的鼠标指针样式

  map.centerAndZoom('上海', 15);                 // 初始化地图，设置中心点坐标和地图级别  

  map.addEventListener("click",function(e){
    map.clearOverlays();  //去除点
    $('#e_drugstore_lng').val(e.point.lng);
    $('#e_drugstore_lat').val(e.point.lat);

    var marker = new BMap.Marker(new BMap.Point(e.point.lng, e.point.lat)); // 创建点
    map.addOverlay(marker);    //增加点
  });

  $("#e_drugstore_city_id").change(function(){
    var city = $("#e_drugstore_city_id").find("option:selected").text();

    map.centerAndZoom(city, 15);
  });

</script>