<%= partial 'templates/details/header' %>

<div class="content">

  <%= partial 'templates/details/album' %>

  <%= partial 'templates/details/desc', locals: { price: true } %>

  <%= partial 'templates/details/review' %>
  
  <%= partial 'templates/details/detail', locals: { detail: :introduction } %>

  <%= partial 'related' %> 

</div>
