<%= partial 'templates/details/header' %>

<div class="content">

  <%= partial 'templates/details/album' %>

  <%= partial 'templates/details/desc_with_price' %>

  <%= partial 'templates/details/review' %>
  
  <%= partial 'templates/details/map' %>

  <%= partial 'templates/details/detail' %>

  <%= partial 'related' %> 

</div>
