<%= partial 'templates/details/header'%>

<div class="content" style="bottom:50px;">

  <%= partial 'templates/details/album' %>

  <div class="card">
    <ul class="table-view media">
      <li class="table-view-cell">
        <div class="media-detail">
          <h1>{{data.name}}</h1>
        </div>
      </li>
    </ul>
  </div>

<div class="card">
  <ul class="table-view media">
    <li class="table-view-cell">
      <div class="media-detail">
        <p>
          <span style="color:#838383">联系人：</span>
          {{data.business_owners}}
        </p>
        <p style="text-align: justify;-webkit-text-align-last:justify;">
          <span style="text-align:justify;color:#838383">电话：</span>
          {{data.telepphone}}
        </p>
        <p>地址：{{data.address}}</p>
        <p>
          <span style="color:#838383">公司网址：</span>
        <a href="{{data.url}}"> {{data.url}}</a>
        </p>
      </div>
    </li>

  </ul>
</div>


  <%#= partial 'templates/details/review' %>
<div class="card">
  <ul class="table-view media">
    <li class="table-view-cell">
      <div class="media-detail">
        <h4 class="fix">
          <a href="#/review/Hospitals::Hospital/{{::id}}">
            <span  class="pull-left" style="color: #ffd700">★★★★★5分</span>
          </a>
          <span class="pull-right">{{data.reviews_count}}人点评</span>
        </h4>
      </div>

    </li>
    <li class="table-view-cell">
      <div class="media-detail">
        <ul class="inline border" style="text-align: justify;">
          <li>服务优良</li>
          <li>物流便捷</li>
          <li>产品质量</li>
          <li>品牌效应</li>
        </ul>
      </div>
    </li>
  </ul>
</div>

  <div class="bg team">
    <div class="fix index-hd">
      <h3 ng-click="goto('aboutDrugs-start')" style="text-decoration: underline;color:#008000"> 
        厂家相关药品列表
        <i class="ion ion-chevron-right" style="float:right;"></i>
      </h3>
    </div>
  </div>

  <%= partial 'templates/details/map' %>
  <div class="card">
    <ul class="table-view media">

      <li class="table-view-cell">
        <%= partial 'templates/details/actions' %>
      </li>
    </ul>
  </div>

  <!-- 商家加盟及报错更正 -->
  <%= partial 'templates/details/league'%>

  <div id="aboutDrugs-start"></div>
  <div class="bg team">
    <div class="fix index-hd">
      <h3>厂家相关药品列表</h3>
    </div>
    <div list list-url="/api/drugs/manufactories/{{data.id}}/drugs" list-title="其他相关" list-more="查看更多" ng-if="data.id" list-tpl="templates/lists/drugs/drugs.html" link-url="#/detail/drugs/drugs/">
    </div>
  </div>



</div>

<footer class="footer">
  <menu class="footer-con" style="background-color:rgba(0,0,0,0.7);display:table-cell;text-align:center;vertical-align:middle;line-height:44px;">
    <div>
    <a href="tel:{{data.telephone}}"><image src="images/call.jpg" width="100%">  </a>
    <a ng-href="{{data.url}}"><image src="images/search.jpg" width="100%"></a>
    </div>
  </menu>
</footer>
