<%= partial 'templates/details/header' %>

<div class="content">

  <div class="card">
    <ul class="table-view media">
      <li class="table-view-cell">
        <img class="media-object pull-left height-auto" ng-src="{{data.image_url}}"></img>
        <div class="media-detail">
          <h1>{{data.name}} <span>{{data.position}}</span></h1>
          <p>科室：{{data.hospital_room_name}}</p>
          <p>医院：{{data.hospital_name}}</p>
        </div>
      </li>
      <li class="table-view-cell">
        <%= partial 'templates/details/actions' %>
      </li>
    </ul>
  </div>

  <%= partial 'templates/details/review' %>

  <%= partial 'templates/details/detail', locals: { title: "擅长领域" } %>
  
  <%= partial 'related' %> 

</div>
