<%= partial 'templates/details/header'%>

<div class="content">

  <%= partial 'templates/details/album' %>

  <div class="card">
    <ul class="table-view media">
      <li class="table-view-cell">
        <div class="media-detail">
          <h1>{{data.name}}</h1>
        </div>
      </li>
    </ul>
  </div>

<div class="card">
  <ul class="table-view media">
    <li class="table-view-cell">
      <div class="media-detail">
        <p><span style="color:#838383">特色科室：</span>
          {{data.characteristic_departments}}
        </p>
        <p style="text-align: justify;-webkit-text-align-last:justify;">
          <span style="text-align:justify;color:#838383">医&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保：</span>{{data.medical_insurance}}
        </p>
        <p>
          <span style="color:#838383">网&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</span>
        <a href="{{data.url}}"> {{data.url}}</a>
        </p>
      </div>
    </li>

  </ul>
</div>
<div class="list">
  <div class="item item-icon-right" ng-repeat="hospital_room in data.hospital_rooms">
    <p ng-click="showDoctors($index)">
    <i class="ion-chevron-down" style="float:right"></i>

    {{hospital_room.hospital_room}} </p>
      <div ng-show="ifShow[$index]" >
        <div class="row" ng-repeat="ds in hospital_room.doctors"> 
          <div class="col col-33" ng-repeat="doctor in ds">
            <a href="#/detail/hospitals/doctors/{{doctor.id}}">{{doctor.name}} </a>
            <p>{{doctor.position}}</p>
          </div>
        </div>
      </div>

  </div>

</div>
  <%#= partial 'templates/details/review' %>
<div class="card">
  <ul class="table-view media">
    <li class="table-view-cell">
      <div class="media-detail">
        <h4 class="fix">
          <a href="#/review/Hospitals::Hospital/{{::id}}">
            <span  class="pull-left" style="color: #ffd700">★★★★★5分</span>
          </a>
          <span class="pull-right">{{data.reviews_count}}人点评</span>
        </h4>
      </div>

    </li>
    <li class="table-view-cell">
      <div class="media-detail">
        <ul class="inline border" style="text-align: justify;">
          <li>医院设备完善</li>
          <li>服务质量良好</li>
          <li>医院环境优美</li>
          <li>技术水平高</li>
          <li>技术一般</li>
          <li>环境一般</li>
          <li>服务态度一般</li>
          <li>个方面都不错</li>
        </ul>
      </div>
    </li>
  </ul>
</div>

  <!-- <div class="card">
    <ul class="table-view media">

      <% titles = { equipment: "医院设备", skill: "医疗技术水平", service: "服务水平", environment: "医院环境" } %>
      <% %i(equipment skill service environment).each do |key| %>
        <li class="table-view-cell">
          <div class="media-detail">
            <div class="block">
              <h4>
                <span style="color:#838383"><%= titles[key] %>：</span>
                <span stars="data.<%= key %>_star" class="stars"></span>
              </h4>
              <p class="pre">{{data.<%= key %>_desc}}</p>
            </div>
          </div>
        </li>
      <% end %>

    </ul>
  </div> -->



  <%= partial 'templates/details/map' %>
  <div class="card">
    <ul class="table-view media">

      <li class="table-view-cell">
        <%= partial 'templates/details/actions' %>
      </li>
    </ul>
  </div>


  <div class="bg team">
    <div class="fix index-hd">
      <h3>猜你喜欢</h3>
    </div>
    <%= partial 'related' %>
  </div>

</div>

<footer class="footer">
  <menu class="footer-con">
    
    <div class="btns-block" style="opacity: 0.7;">
      <a class="btn btn-warning btn-large btn-half-block btn-text-purple" ng-href="{{data.url}}" style="color:#fff">就诊查询／挂号</a>
    </div>
  </menu>
</footer>
