<%= partial 'header' %>

<div class="content">

  <%= partial 'album' %>

  <%= partial 'desc_with_price' %>

  <%= partial 'review' %>
  
  <%= partial 'map' %>

  <%= partial 'detail' %>

  <%= partial 'related' %> 

</div>
