<%= @drug_type.name %>

<% drug_types = DrugType.where(id: @drugs.pluck(:drug_type_id3).uniq ) %>
<p>子分类</p>
<ul>
  <% drug_types.each do |drug_type| %>
    <li>
      <%= link_to drug_type.name, subsub_drugs_stores_drugtype_path(@store.name, drug_type) %>
    </li>
  <% end %>
</ul>
<hr>
<ul>
  <% @drugs.each do |drug|%>
    <li>
      <div>
        药品名称： <%= drug.name %>
        <br/>
        药品厂家： <%= drug.manufactory %>
        <br/>
        药品原价： <%= drug.ori_price %>
        <br/>
        药品现价： <%= drug.price %>
        <br/>
        药品类型： <%= DrugType.find(drug.drug_type_id2).name %>
      </div>
    </li>
    <br>
  <% end %>
</ul>