<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">药店管理</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if @current_editor %>
          <li id="current_editor">
            <%= link_to session[:editor] %>
          </li>
        <% end %>
        <% if @current_editor %>
          <% if @current_editor && @current_editor.has_role?(:admin) %>
            <li id="editors">
              <%= link_to '所有用户', editors_path %>
            </li>
          <% end %>
        <% end %>
        <li id="drugstores">
          <%= link_to '我的药店', drugs_drugstores_path %>
        </li>
        <li id="drugs">
          <%= link_to '我的药品', drugs_drugs_path %>
        </li>
        <li id='editor_logout'>
          <%= link_to '退出', logout_editors_session_index_path %>
        </li>
      </ul>
    </div>
  </div>
</div>