<%= partial 'templates/details/header' %>

<div class="content">

  <%= partial 'templates/details/desc' %>

  <%= partial 'templates/details/review' %>
  
  <%= partial 'templates/details/map' %>

  <%= partial 'related' %> 

</div>
